:root {
    --primary-color:#0150B9;
    --secundary-color:#2574FC;
    --primary-accent:#26F0F1;
    --secundary-accent:#0D1B2A;
    --secundary-accent-variation:#0d1b2a30;
    --heading-fonts:"Loved by the King", cursive;
    --text-fonts: Montserrat, sans-serif;
    --font-sizes-primary: 80px;
    --font-sizes-secundary: 50px;
    --font-sizes-accent: 30px;
    --font-sizes-body-text: 20px;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: var(--primary-color);
}

.header-container {
    display: grid;
    grid-template-columns:200px 3fr;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: end;

}

.header-container nav a {
    padding: 1rem 2rem;
    border: .1px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
    
}
header img {
    width:150px;
    height: auto;
    margin: 0;
    padding: 0;

}

/* The following CSS selector (rule) emoves underlines from all hyperlinks. Do not do this.*/

a  {  
    text-decoration: none; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
body {
    font-family: var(--text-fonts);
    color: var(--secundary-accent);
    font-size: var(--font-sizes-body-text);
}

 div .hero { 
    position: relative;
    text-align: center;
    margin: auto;
    height: 100vh;

}

  h1 {
    position: absolute;
    top: 300px;
    margin: auto;
    text-align: center;
    width: 100%;
    font-family: var(--heading-fonts);
    font-size: var(--font-sizes-primary);
    color: var(--primary-accent);
    background-color: var(--secundary-accent-variation);
}

.history {
    padding: 2rem;
    min-height:500px;
    
}
.history-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin :0 auto;
    margin-bottom: 5rem;
    max-width: 1200px;
}
.history-container img {
    width:350px;
    border-radius: 1rem;
    border: 1px solid var(--secundary-accent-variation);
}

.history h2 {
    color: var(--secundary-color);
    margin-bottom: 2rem;
    text-align: center;
}
.history p {
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0;
}

.adventure {
    padding: 2rem;
    min-height:500px;
}
.adventure-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    max-width: 1200px;
}

.adventure h2 {
    color: var(--secundary-color);
    margin-bottom: 2rem;
    text-align: center;
    
}
.adventure-container figcaption {
    font-size: 1rem;
    font-style: italic;
    /* background-color: var(--secundary-accent-variation); */
    text-align: center;
    color: var(--primary-color);
    border-radius: 10px;
    margin: 0 auto;
    width: 200px;
}
.adventure img { 
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid var(--secundary-accent-variation);
    
}

footer{
    background-color: var(--primary-color);
    padding: .5rem;
}

.footer-div {
    display: grid;
    grid-template-columns: 3fr 200px;
    height: auto;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: .9rem;
    text-align: center;
    color: var(--primary-accent);
}

footer nav {
    grid-column: 2/3;
    grid-row: 1/2;
    
}

footer nav a {
    border: none;
    padding: .5rem;
    align-items: end;
}
.social-footer img {
    width: 50px;
    border: 1px solid var(--primary-accent);
    padding: .5rem;
    border-radius: 10px;
}

h2 {
    font-size: var(--font-sizes-secundary);
}

article {
    position: absolute;
    top: 300px;
    margin: 200px;
    background-color: #fff;
    height: auto;
    width: auto;
    color: var(--secundary-accent);
    border-radius: 10px;
}

#text-sample {
    padding: 20px;
}

 #square {
    height: auto;
    width: 280px;
    float: right;
}
