:root {
    --primary-color:#0150B9;
    --secundary-color:#2574FC;
    --primary-accent:#26F0F1;
    --secundary-accent:#0D1B2A;
    --secundary-accent-variation:#0d1b2a30;
    --heading-fonts:"Loved by the King", cursive;
    --text-fonts: Montserrat, sans-serif;
    --font-sizes-primary: 80px;
    --font-sizes-secundary: 50px;
    --font-sizes-accent: 30px;
    --font-sizes-body-text: 1rem;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: var(--primary-color);
}

.header-container {
    display: grid;
    grid-template-columns:200px 3fr;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: end;

}

.header-container nav a {
    padding: 1rem 2rem;
    border: .1px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
    
}
header img {
    width:300px;
    height: auto;
    margin: 0;
    padding: .5rem;

}

/* The following CSS selector (rule) emoves underlines from all hyperlinks. Do not do this.*/

a  {  
    text-decoration: none; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
body {
    font-family: var(--text-fonts);
    color: var(--secundary-accent);
    font-size: var(--font-sizes-body-text);
}

 div .hero { 
    position: relative;
    text-align: center;
    margin: auto;
    height: 100vh;

}

#fst-title{
    position: absolute;
    top: 300px;
    margin:0 auto;
    text-align: center;
    width: 100%;
    font-family: var(--heading-fonts);
    font-size: var(--font-sizes-primary);
    color: var(--primary-accent);
    text-shadow:2px 2px var(--primary-color);
    background-color: #0150B990;
}
#pg-title {
    font-family: var(--heading-fonts);
    font-size: var(--font-sizes-primary);
    color: var(--primary-accent);
    text-shadow:2px 2px var(--primary-color);
}

.history {
    padding: 2rem;
    min-height:500px;
    
}
.history-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin :0 auto;
    margin-bottom: 5rem;
    max-width: 1200px;
}
.history-container img {
    width:350px;
    border-radius: 1rem;
    border: 1px solid var(--secundary-accent-variation);
}

.history h2 {
    color: var(--secundary-color);
    margin-bottom: 2rem;
    text-align: center;
}
.history p {
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0;
}

.adventure {
    padding: 2rem;
    min-height:500px;
}
.adventure-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    max-width: 1200px;
}

.adventure h2 {
    color: var(--secundary-color);
    margin-bottom: 2rem;
    text-align: center;
    
}
.adventure-container figcaption {
    font-size: 1rem;
    font-style: italic;
    /* background-color: var(--secundary-accent-variation); */
    text-align: center;
    color: var(--primary-color);
    border-radius: 10px;
    margin: 0 auto;
    width: 200px;
}
.adventure img { 
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid var(--secundary-accent-variation);
    
}

footer{
    background-color: var(--primary-color);
    padding: .5rem;
}

.footer-div {
    display: grid;
    grid-template-columns:200px 1fr 200px;
    height: auto;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: .9rem;
    text-align: center;
    color: var(--primary-accent);
}

footer nav {
    grid-column: 3/4;
    grid-row: 1/2;
    
}

footer nav a {
    border: none;
    padding: .5rem;
    align-items: end;
}
.social-footer img {
    width: 50px;
    border: 1px solid var(--primary-accent);
    padding: .5rem;
    border-radius: 10px;
}

h2 {
    font-size: var(--font-sizes-secundary);
}

article {
    position: absolute;
    top: 300px;
    margin: 200px;
    background-color: var(--primary-color);
    height: auto;
    width: auto;
    color: var(--primary-accent);
    border-radius: 10px;
    padding: 1rem;
}
#welcome_id {
    font-size: var(--font-sizes-body-text);
    color: var(--primary-accent);
}

 #square {
    height: auto;
    width: 200px;
    float: right;
    border-radius: 10px;
    border: .1rem solid var(--primary-accent);
}

/* ------------------------------------------------- */
/* Starting Contact Page */
/* ------------------------------------------------- */
h2 {
    color: var(--secundary-color);
}
.container-main-contact {
    background-color: var(--secundary-accent-variation);
    background-image: url(../images/rafting11_1024.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-hero {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    height: 400px;
    text-align: center;
}
.contact-info{
    display: grid;
    border: 1px solid var(--primary-accent);
    border-radius: .7rem;
    padding: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: end;
    background-color: var(--secundary-color);
    color: white;
    margin-bottom: -2rem;
}
.contact-info a {
    color: var(--primary-accent);
}
.top-heading{
    align-self: end;
}

.happy-employ-container{
    margin: 0 auto;
    width: 1200px;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.5rem 0rem;
}

.happy-container{
    display: grid;
    justify-items: center;
    place-items:center ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    /* padding: 2rem 0rem; */
}

.employ-item img {
    width: 350px;
    height: auto;
    border: 1px solid var(--secundary-color);
    border-radius: .7rem;
}
figcaption {
    font-weight: 800;
    color: var(--primary-color);
}
.employ-item span{
    font-size: 1rem;
}

.comment-section {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}
#comment-form, #comment-textarea, #comment-button,label{
    width: 100%;
    margin: .5rem 0rem;
}
.comment-form{
    place-items: center;
    border: 1px solid var(--secundary-color);
    border-radius: .7rem;
    padding: 2rem;
}

.form-container{
    margin: 0 auto;
    width: 1200px;
    min-height:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2.5rem 0rem;
}
.form-section {
    grid-column: 1/2;
    justify-items: center;
    border: 1px solid var(--primary-accent); 
    border-radius: .7rem;
    padding: 2rem;
    margin-right: 1.5rem;
}
.map-google {
    padding: 2rem;
    border: .1px solid var(--primary-accent);
    border-radius: .7rem;
    margin: 0 auto;
    width: 1200px;
    margin-top:3rem;
}
iframe {
    border-radius: .7rem;
    border: .1px solid var(--primary-accent);
    width: 100%;
    height: 300px;
}
.form-container h2 {
    grid-column: 1/3;
    text-align: center;
}
.description {
    grid-column: 1/3;
    text-align: center;
    padding: .5rem;
}
.contact-form {
    grid-template-columns: 1fr;
    width:100% ;
}
.container-inner-form {
    display: grid; 
    margin: 0;
    padding: .5rem 0rem;
}
input, textarea {
    padding: 1rem;
    border: 1px solid var(--primary-accent);
    border-radius: .7rem;
    margin-top: 1rem;
    font-size: .9rem;
    font-family: var(--text-fonts);
}
label{
    font-size: .9rem;
    font-family: var(--text-fonts);
}
.radio-item{
    display: block;
}
button {
    padding: 1rem;
    border-radius: .7rem;
    background-color: var(--primary-accent);
    border: .1px solid var(--secundary-accent-variation);
}

button:hover{
    background-color: var(--secundary-color);
    color: #fff;
}

.description {
    padding-bottom:1rem ;
}
.right-container-box {
    grid-column: 2/3;
    place-items: center;
    padding: 2rem;
    border: .1px solid var(--primary-accent);
    border-radius: .7rem;
    margin-left: 1.5rem;
}
.brand img{
    width: 385px;
    height: auto;
}
.contact-info-right {
    padding: 1rem;
}
.contact-info-right p {
    padding: 1.5rem;
    margin: .5rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    width:100%;
    border-radius: .7rem;
}
.links a{
    color: var(--primary-accent);
    border: 1px solid var(--primary-accent);
    padding: .5rem;
    border-radius: .7rem;
}