:root {
    --primary-color:#0150B9;
    --secundary-color:#2574FC;
    --primary-accent:#26F0F1;
    --secundary-accent:#0D1B2A;
    --secundary-accent-variation:#0d1b2a30;
    --heading-fonts:"Loved by the King", cursive;
    --text-fonts: Montserrat, sans-serif;
    --font-sizes-primary: 80px;
    --font-sizes-secundary: 50px;
    --font-sizes-accent: 30px;
    --font-sizes-body-text: 20px;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
body {
    font-family: var(--text-fonts);
    color: var(--secundary-accent);
    font-size: var(--font-sizes-body-text);
}

 div .hero { 
    position: relative;
    text-align: center;
    margin: auto;
    height: 100vh;

}

  h1 {
    position: absolute;
    top: 300px;
    margin: auto;
    text-align: center;
    width: 100%;
    font-family: var(--heading-fonts);
    font-size: var(--font-sizes-primary);
    color: var(--primary-accent);
}
h2 {
    font-size: var(--font-sizes-secundary);
}

article {
    position: absolute;
    top: 300px;
    margin: 200px;
    background-color: var(--primary-accent);
    height: auto;
    width: auto;
    color: var(--secundary-accent);

}

 #square {
    height: auto;
    width: 150px;
    float: right;
}

/* 
h1{
    font-family: var(--heading-fonts);
    color: var(--primary-color);
}
body {
    font-family: var(--text-fonts);
    color: var(--secundary-accent);
}
/* Removing the defaut decoration from a image link */
/*
.social-footer a {
    text-decoration: none;
}



.hero img {
    display: block;
    height: auto;
    width: 100%;
    
} 

div h1{
    position: absolute;
    top: 50px;

}

article {
    position: absolute;
    top: 150px;
}

article img {
    float: right;
    
}

 */