/* My first comments for css */
:root {
  --primary-color: steelblue;
  --text-alignment: center;
  --second-color: white;
  --font-color:#333;
  --box-background:#eee;
  --paraph-padding:10px;
  --font-size-main-size: 1rem;
  --padding-margin-zero: 0;
  --font-heading-family: "Josefin Sans", sans-serif;
  --font-body-family: "Poppins", sans-serif;
  --padding-in-2-rem: 2rem;
}

body{
  font-family: var(--font-body-family);

}

header, footer, .grid {
  margin: 0 auto;
  max-width: 840px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

aside{
  grid-column: 1/2;
  grid-row: 1/2;
}

main{
  grid-column: 2/4;
  grid-row:1/2 ;
}

nav {
    background-color: var(--primary-color);
    padding: var(--paraph-padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  nav a {
    color: var(--second-color);
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
  }

  h1 {
    color: var(--primary-color);
    font-family: var(--font-heading-family);
    border-bottom: 1px solid var(--primary-color);
    padding: 1rem;
  }

  main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    margin: var(--padding-in-2-rem);
    box-shadow: 0 0 30px gray;
    float: right; /* Sent my image to right side of page */
    
  }

  p {
    padding: var(--paraph-padding);
  }

  main {
    max-width: 840px;
  }

  aside {
    position: relative;
    width: 20rem;
    text-align: var(--text-alignment);
  }

  aside img {
    width: 250px;
    height: auto;
  }

  /* making a absolute position for my country name and place */
  aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
  }

  p { padding: var(--paraph-padding);}

  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-alignment);
  }

  *{
    margin: var(--padding-margin-zero);
    padding: var(--padding-margin-zero);
    box-sizing: border-box;
  }

  
  .box {

    margin: var(--font-size-main-size);
    padding: var(--padding-in-2-rem);
    border: 1px solid var(--second-color);
    background-color: var(--box-background);
    color: var(--font-color);

  }
  
  
