/* My first comments for css */
 :root {
  --primary-color: steelblue;
  --text-alignment: center;
  --second-color: white;
  --font-color:#333;
  --box-background:#eee;
  --paraph-padding:10px;
  --font-size-main-size: 1rem;
  --padding-margin-zero: 0;

}

nav {
    background-color: var(--primary-color);
    padding: var(--paraph-padding);
  }

  nav a {
    color: var(--second-color);
    display: block;
    padding: 20px;
  }

  h1 {
    color: var(--primary-color);
  }

  main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right; /* Sent my image to right side of page */
    
  }

  p {
    padding: var(--paraph-padding);
  }

  main {
    max-width: 840px;
  }

  aside {
    position: relative;
    width: 20rem;
    text-align: var(--text-alignment);
  }

  aside img {
    width: 500px;
    height: auto;
  }

  /* making a absolute position for my country name and place */
  aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
  }

  p { padding: var(--padding-margin-zero);}

  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-alignment);
  }

  *{
    margin: var(--padding-margin-zero);
    padding: var(--padding-margin-zero);
    box-sizing: border-box;
  }

  /* Class Selectors */
  .box {

    margin: var(--font-size-main-size);
    padding: var(--font-size-main-size);
    border: 1px solid var(--second-color);
    background-color: var(--box-background);
    color: var(--font-color);

  }
  
