root{
    --padding-margin-zero:0;
    --aligment-for-text: center;

}


*{
padding: var(--padding-margin-zero);
margin: var(--padding-margin-zero);
box-sizing: border-box;
text-align: var(--aligment-for-text);
}

header{
    display: block;
    align-items: center;
}

nav{
    display: inline;
}

main {
    padding: 50px;
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.temple-grid{
    background-color: hsl(0, 0%, 91%);
    text-align: var(--aligment-for-text);
    border: 1px solid hsl(0, 0%, 74%);
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}