root{
    --padding-margin-zero:0;
    --aligment-for-text: center;

}


*{
padding: var(--padding-margin-zero);
margin: var(--padding-margin-zero);
box-sizing: border-box;
text-align: var(--aligment-for-text);
}

header{
    display: block;
    align-items: center;
}

nav{
    display: inline;
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}